/* Estilos da página index.html */

.center {
    text-align: center;
}

.justify {
    text-align: justify;
}

.container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}
/* 
#menu li {
    display: inline;
    padding: 15px;
    text-decoration: none;
}

#menu li a {
    text-decoration: none;
    color: black;
    font-size: 30px;
} */

/* Quando o mouse passar por cima ele muda a cor */
/* #menu li a:hover {
    color: grey;
} */

.padding-30 {
    padding: 30px;
}

.border-radius-50 {
    border-radius: 50%;
}

.width-height-250 {
    width: 250px;
    height: 250px;
}

.tamanhoIcone {
    width: 50px;
    height: 50px;
}

.margin-video-50 {
    margin-bottom: 50px;
}




/*Estilos da página contato.html*/

.margin-left {
    margin-left: 50px;
}